{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Corrected static CSS link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- Corrected static JS link -->
    <script src="{% static 'js/main.js' %}"></script>

    <title>phishing detection system </title>

    <!-- Favicons -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>

<body>

    {% block content %}{% endblock %}

   

</body>

</html>
